{% extends 'store/main.html'%}
{% load static %}


{% block content%}

  <div class="row">
    {% for product in products%}
      <div class="col-lg-4">
        <img class="thumbnail" src="{{ product.imageURL }}" alt="placeholder">
        <div class="box-element product">
          <div><strong>{{product.name|title}}</strong></div>
          <hr>
          <button class="btn btn-outline-secondary add-btn">Add to cart</button>
          <a class="btn btn-outline-success" href="#">View</a>
          <h4 style="display:block ;float: right;">&dollar;{{product.price|floatformat:2}}</h4>
        </div>
      </div>
    {% endfor%}
  </div>
{% endblock content%}